@media (max-width: 1210px) {
    .root{
        max-width: 100px;

        ul {
            a{
                padding: 0;
                justify-content: center;

                span{
                    display: none;
                }

                svg{
                    font-size: 25px;
                }
            }
        }
    }
}