@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* For WebKit browsers (Chrome, Safari, etc.) */
.custom-scrollbar::-webkit-scrollbar {
    width: 12px; /* width of the scrollbar */
    height: 12px; /* height of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* background of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #50C878; /* emerald color for the scrollbar thumb */
    border-radius: 6px; /* rounded corners for the scrollbar thumb */
    border: 3px solid #f1f1f1; /* adds padding around the thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #48b269; /* darker emerald color on hover */
}

/* For Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #50C878 #f1f1f1;
}